@import "./variables";

main {
  z-index: 100;
}

span {
  font-size: 12px;
}
.pain {
  li {
    padding-right: 20px;
  }
}
.down {
  li {
    padding-right: 20px;
  }
}

.position {
  position: relative;

  .greenwavebefore {
    position: absolute;
    opacity: 50%;
    z-index: 1;
  }
  .greenwave {
    position: absolute;
    top: 10px;
    color: red;
    z-index: 2;
  }
  .background {
    background-color: $mainColor;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 3;
  }
  footer {
    position: absolute;
    z-index: 4;
  }
}



footer {
  background-color: $footerColor;
}